<div class="main_page">
<header class="masthead">
  <div class="header-wrapper">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-12 header-text">
        <div class="header-content mx-auto">
          <h1 class="mb-5">
            一番マッチしない人とだけ繋がる<br>
            新しいマッチングアプリ</h1>
          <div class="start">
            <%= link_to "さっそくはじめる!", new_user_registration_path, class: "btn btn-outline btn-xl js-scroll-trigger" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</header>

<section class="features" id="features">
  <div class="container">
    <div class="section-heading text-center">
      <h2>アプリの目的と使い方</h2>
      <p class="text-muted">
        気の合う仲間と毎日楽しいけど、ふと物足りなさを感じることはありませんか？<br>
        <br>
        このアプリであなたは普段かかわることが無いような遠い存在の人と出会えます。<br>
        <br>
        mysteriousな出会いの空間、「MysMatch!」の世界へあなたをご招待します。
      </p>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-4 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <img src="/mismatching_app.png" class="img-fluid" alt="">
              </div>
              <div class="button">
                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 my-auto">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="icon-screen-smartphone text-primary"></i>
                <h3>1.ユーザー登録</h3>
                <p class="text-muted">まずはメールアドレスで登録</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="icon-note text-primary"></i>
                <h3>2.アンケートに回答</h3>
                <p class="text-muted">
                  質問事項に回答することで、<br>
                  あなたの特性を判別します
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="icon-heart text-primary"></i>
                <h3>3.マッチング</h3>
                <p class="text-muted">
                  アンケート結果をもとに、<br>
                  あなたと一番関連性が無い人との<br>
                  マッチングが成立
                </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="icon-speech text-primary"></i>
                <h3>4.メッセージを送る</h3>
                <p class="text-muted">
                  マッチングが成立した相手と<br>
                  メッセージのやりとりができるようになります。
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cta">
  <div class="cta-content">
    <div class="container">
      <h2>Stop waiting.<br>Start building.</h2>
      <%= link_to "Let's Get Started!", new_user_registration_path, class: "btn btn-outline btn-xl js-scroll-trigger" %>
    </div>
  </div>
  <div class="overlay"></div>
</section>

<section class="contact" id="contact">
  <div class="container">
    <h2>We
      <i class="fa fa-heart"></i>
      new friends!</h2>
    <ul class="list-inline list-social">
      <li class="list-inline-item social-twitter">
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="list-inline-item social-facebook">
        <a href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="list-inline-item social-google-plus">
        <a href="#">
          <i class="fab fa-google-plus-g"></i>
        </a>
      </li>
    </ul>
  </div>
</section>
</div>
