// Styling for the masthead
header.masthead {
    position: relative;

    width: 100%;

    color: #fff;
    background: url('/header.jpg') left bottom no-repeat rgba(255,0,0,0.2);
    background-size: cover;
    .header-content {
        margin-bottom: 100px;

        text-align: center;
        h1 {
            font-size: 30px;
        }
    }
    .device-container {
        max-width: 325px;
        margin-right: auto;
        margin-left: auto;
        .screen img {
            border-radius: 3px;
        }
    }
    @media (min-width: 992px) {
        height: 100vh;
        min-height: 775px;
        margin-top: -56px;
        padding-bottom: 0;
        .header-content {
            margin-bottom: 0;

            text-align: left;
            h1 {
                font-size: 50px;
            }
        }
        .device-container {
            max-width: 325px;
        }
    }
}
