.matching_user_icon img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.matching_page{
  text-align: center;
}

.user_info{
  padding: 0 150px;
}

.matching_user_icon p{
  text-align: left;
}
